.background-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

#product-page-loading-animation {
    justify-content: center;
    position: relative;
    display: block;
    margin-top: 20px;
    width: 100%;
    left: 38%;
}

#product-page-fetch-error {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: 22px;
}

@media (min-width: 1100px) {
    #product-page-first-div {
        display: flex;
        flex-direction: row;
    }
    #product-page-name-p {
        max-width: 1150px;
    }
    #product-page-sections-div {
        width: 1145px;
    }
}

@media (max-width: 1099px) {
    #product-page-first-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    #product-page-name-p {
        max-width: 550px;
    }
    #product-page-second-div {
        left: -10px;
        position: relative;
    }
    #product-page-sections-div {
        width: 560px;
    }
}

#product-page-outer-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-page-inner-div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

#product-page-images-div {
    height: 600px;
    border: 2px solid var(--darker-primary);
    padding: 30px 30px 10px 30px;
    box-shadow: 0 5px 5px #111111;
    border-radius: 10px;
    background-color: #1A1A1A;
    width: 500px;
}

#product-page-second-div {
    margin-left: 20px;
    border: 2px solid var(--darker-primary);
    width: 560px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #111111;
    background-color: #1A1A1A;
}

#product-page-name-p {
    color: #CCC;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

#product-page-sections-div {
    box-shadow: 0 5px 5px #111111;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 900px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
}

#product-page-sections-buttons-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#product-page-sections-content-div {
    margin: 30px;
    display: flex;
    font-size: 25px;
    color: #BBB;
    text-align: justify;
}

.product-page-sections-button-div {
    width: 33.3%;
    height: 50px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    color: #BBB;
    transition: background-color 0.5s ease, color 0.3s ease, font-size 0.5s ease;
}

.product-page-sections-button-div:hover {
    background-color: #1A1A1A;
    cursor: pointer;
    font-size: 22px;
}

.product-page-sections-button-div-selected {
    width: 33.3%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #BBB;
    transition: background-color 0.5s ease, color 0.3s ease;
}

#product-page-sections-description-div {
    width: 100%;
    color: #AAA;
    font-size: 22px;
}