#google-button-logo {
    width: 30px;
    aspect-ratio: 1/1;
}

.google-sign-in-button {
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px 0 5px;
    transition: color 0.5s ease, background-color 0.5s ease, scale 0.3s ease;
}

.google-sign-in-button:hover {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    scale: 1.05;
}