#my-review-outer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 15px;
}

#my-review-left-div, #my-review-right-div{
    display: flex;
    flex-direction: row;
}

#my-review-image-outer-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#my-review-product-image {
    aspect-ratio: 1/1;
    height: 180px;
    border-radius: 5px;
}

#my-review-product-name {
    width: 180px;
    color: #CCC;
    max-height: 87px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 14px;
}

#my-review-review-outer-div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#my-review-review-title {
    color: #CCC;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 200px;

}

#my-review-review-body {
    color: #AAA;
    font-size: 18px;
    max-width: 700px;
    text-align: justify;
    overflow: hidden;
}

#my-review-review-time {
    color: #EEE;
    font-size: 15px;
    max-width: 700px;
    text-align: justify;
    overflow: hidden;
    margin-top: 10px;
}