#product-preview-container {
    background-color: #151515;
    width: 100%;
    aspect-ratio: 1/1.2;
    border-radius: 5px;
    box-shadow: 0 5px 5px #111111;
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#product-preview-container:hover {
    transform: scale(1.02);
}

#product-preview-image {
    aspect-ratio: 1/1;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}

#product-preview-name {
    color: var(--secondary-color);
    align-self: center;
}

#product-preview-cart-button {
    align-self: center;
    width: 150px;
    height: 38px;
    font-size: 16px;
}