#shopping-cart-button-entry-container {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 250px;
}

#shopping-cart-button-entry-product-name {
    margin-right: 5px;
}

#shopping-cart-button-entry-product-quantity {

}

#shopping-cart-button-entry-image {
    aspect-ratio: 1/1;
    height: 100%;
}