@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

#product-page-add-review-div {
    width: 500px;
    height: 520px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 30px 30px 30px;
}

#product-page-review-section-star-rating {
    display: inline-block;
    position: relative;
    left: -5px;
}

.material-symbols-outlined.review {
    font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24;
    color: gold;
    font-size: 40px;
}

.material-symbols-outlined.filled {
    cursor: pointer;
    font-variation-settings:
            'FILL' 1,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24;
}

#product-page-reviews-section-form {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

#product-page-reviews-section-title-input {
    height: 30px;
    width: 500px;
    outline: none;
    border: none;
    padding: 2px 2px 2px 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-page-review-sections-error-message {
    font-size: 16px;
    color: darkred;
}

#product-page-reviews-section-comment-p {
    font-size: 18px;
}

#product-page-reviews-section-comment-input {
    height: 300px;
    width: 500px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 2px 2px 2px 5px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 2px;
}

.lds-roller.review-sections-page {
    position: relative;
    width: 80px;
    height: 80px;
    left: 40%;
}