@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

#product-page-reviews-section-outer-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#product-page-reviews-section-add-review-div {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#product-page-review-section-sub-header {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(128, 128, 128);
}

.material-symbols-outlined.review {
     font-variation-settings:
             'FILL' 0,
             'wght' 200,
             'GRAD' 0,
             'opsz' 24;
    color: gold;
    font-size: 40px;
}

.material-symbols-outlined.filled {
    cursor: pointer;
    font-variation-settings:
            'FILL' 1,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24;
}

#product-page-review-section-give-score-text {
    position: relative;
    top: -10px;
    margin-left: 10px;
    color: #AAA;
    font-size: 18px;
}

#product-page-reviews-section-review-button {
    width: 120px;
    height: 30px;
    padding: 0;
    margin-left: 5px;
    font-size: 18px;
    border-radius: 7px;
    position: relative;
    top: -5px;
}

#product-page-reviews-section-reviews-div {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 580px;
    width: calc(100% - 40px);
    border-radius: 5px;
    margin-top: 10px;
    overflow: auto;
    padding: 20px;
    scrollbar-width: none;
}

#product-page-reviews-section-reviews-div::-webkit-scrollbar {
    display: none;
}

#product-page-reviews-section-submit-button {
    padding: 5px;
    width: 200px;
    font-size: 16px;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #CCC;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#product-page-reviews-section-submit-button:hover {
    background-color: #450046;
    cursor: pointer;
}

#lds-roller-outer-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-page-reviews-manage-reviews-button {
    margin-top: 10px;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product-page-reviews-manage-reviews-button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--secondary-color);
}