#product-browser-sorting-div {
    background-color: var(--darker-primary);
    width: 300px;
    height: 100%;
    box-shadow: 0 5px 5px #111111;
    z-index: 1;
    overflow: hidden;
}

#product-browser-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: clamp(calc(100% - 70px), calc(100% - 8vh), calc(100% - 500px));
    overflow: hidden;
}